{% extends 'base.html' %}

{% block content %}
<h1>Challenge Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ challenge.name }}</span>
    <p id="comment-title">
      <h6 class="right-align">{{ challenge.date }}</h6>
      <h5 class="center-align">{{ challenge.title }}</h5>
    </p>
    <h5>Description: {{ challenge.description|linebreaks }}</h5>
    <h6 class="right-align teal-text text-lighten-2">{{ challenge.user }}</h6>
  </div>
  {% if challenge.user == request.user %}
    <div class="card-action">
      <button class="btn-small black"><a href="{% url 'challenges_update' challenge.id %}" style="color:white;">&nbsp; Edit</a></button>
      <button class="btn-small black"><a href="{% url 'challenges_delete' challenge.id %}" style="color:white;">&nbsp; Delete</a></button>
    </div>
  {% endif %}
</div>
<div class="col s6">
  <form action="{% url 'add_comment' challenge.id %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
      <h5>Comment:</h5>
      <textarea name="description" cols="70" rows="30" placeholder="Put in your comment/solution here!"></textarea>
      <input type="submit" class="right btn black" value="Add comment">
    {% else %}
      <br><br>
      <h4>Comments:</h4>
    {% endif %}
    <br><br><br>
  </form>
</div>
<div class="card">
  <div class="card-content">
    <ul>
      {% for comment in challenge.comment_set.all %}
        <h6 class="right-align">{{ comment.date }}</h6><br>
        <li>
          <span class="teal-text text-lighten-2">
            {{ comment.user }}:
          </span>
            {{ comment.description|linebreaks }}
          <h6 class="right-align">{{ comment.likes.count }} like{{ comment.likes.count|pluralize }}</h6>
          {% if user.is_authenticated %}
          {% else %}
            <a class="right btn btn-outline-info red lighten-3" href="{% url 'login' %}?next={{request.path}}">Log in to like this comment!</a><br>
          {% endif %}
          {% if user in comment.likes.all %}
            <form action="{% url 'comment_toggle' comment.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="comment_id" class="right btn-floating btn-large waves-effect waves-light red lighten-3"><i class="material-icons">favorite</i></button>
            </form>
          {% else %}
            {% if user.is_authenticated %}
              <form action="{% url 'comment_toggle' comment.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="comment_id" value="{{object.id}}" class="right btn-floating btn-large waves-effect waves-light red lighten-3"><i class="material-icons">favorite_border</i></button>
              </form>
            {% endif %}
          {% endif %}
        </li><br><br><br>
        {% if comment.user == request.user %}
          <button class="btn-small black"><a href="{% url 'update_comment' comment.id %}" style="color:white;">Edit</a></button>
          <button class="btn-small black"><a href="{% url 'delete_comment' comment.id %}" style="color:white;">Delete</a></button>
          <br>
          <hr>
          <br>
        {% endif %}
      {% empty %}
        <li>No comments yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

