{% extends 'base.html' %}

{% block content %}
<h1>Challenge Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ challenge.name }}</span>
    <p>Title: {{ challenge.title }}</p>
    <p>Description: {{ challenge.description|linebreaks }}</p>
    <p>Date: {{ challenge.date }}</p>
  </div>
  {% if challenge.user == request.user %}
    <div class="card-action">
      <a href="{% url 'challenges_update' challenge.id %}">Edit</a>
      <a href="{% url 'challenges_delete' challenge.id %}">Delete</a>
    </div>
  {% endif %}
</div>

{% endblock %}