{% extends 'base.html' %}

{% block content %}
<h1>Challenge Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ challenge.name }}</span>
    <p id="comment-title">
      <h6 class="right-align">{{ challenge.date }}</h6>
      <h5 class="center-align">{{ challenge.title }}</h5>
    </p>
    <h6>{{ challenge.description|linebreaks }}</h6>
  </div>
  {% if challenge.user == request.user %}
    <div class="right-align card-action">
      <a href="{% url 'challenges_update' challenge.id %}">Edit</a>
      <a href="{% url 'challenges_delete' challenge.id %}">Delete</a>
    </div>
  {% endif %}
</div>
<div class="col s6">
  <form action="{% url 'add_comment' challenge.id %}" method="POST">
    {% csrf_token %}
    <h5>Comment:</h5>
    <textarea name="description" cols="70" rows="30" placeholder="Put in your comment/solution here!"></textarea>
    <input type="submit" class="btn" value="Add comment">
  </form>
</div>
<div class="card">
  <div class="card-content">
    <ul>
      {% for comment in challenge.comment_set.all %}
        <li>{{ comment.date }}</li><br>
        <li>{{ comment.likes.count }}</li><br>
        {% if user in comment.likes.all %}
          <form action="{% url 'comment_toggle' comment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="comment_id" class="btn btn-info">Unlike</button>
          </form>
        {% else %}
          {% if user.is_authenticated %}
            <form action="{% url 'comment_toggle' comment.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="comment_id" value="{{object.id}}" class="btn btn-info">Like</button>
            </form>
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        {% else %}
          <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this comment!</a><br>
        {% endif %}
        <li><span class="grey-text lighten-1">{{ comment.user }}</span>: {{ comment.description|linebreaks }}</li><br>
        <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
        {% if comment.user == request.user %}
          <div class="card-action">
            <a href="{% url 'update_comment' comment.id %}">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
            <br>
            <hr>
          </div>
        {% endif %}
      {% empty %}
        <li>No comments yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

