{% extends 'base.html' %}

{% block content %}
  <h1>Challenges</h1>
  {% for challenge in challenges %}
    <a href="{% url 'detail' challenge.id %}" style="text-decoration:none;color:black;">
      <div class="card">
        <div class="card-content">
          <h6 class="right-align">{{ challenge.date }}</h6>
          <h5 class="left-align teal-text text-lighten-2">{{ challenge.user }}</h5>
          <h5 class="center-align">{{ challenge.title }}</h5>
          <h6 class="left-align">Description: {{ challenge.description|linebreaks }}</h6>
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}