{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[codemonk]</title>
  <link rel="icon" type="image/png" href="https://i.imgur.com/qYIaDnL.png">
  <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol328.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol328.png), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2009/10/14/animated-yellow-cute-ghost.html" target="_blank" title="Animated Yellow Cute Ghost"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Animated Yellow Cute Ghost" style="position:absolute; top: 0px; right: 0px;" /></a>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="nav-extended black">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">[codemonk]</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="/about">&lt;About&gt;</a></li>
        <li class="tab"><a href="{% url 'index' %}">&lt;All Challenges&gt;</a></li>
        {% if user.is_authenticated %}
          <li class="tab"><a href="{% url 'challenges_user_index' %}">&lt;My Challenges&gt;</a></li>
          <li class="tab"><a href="{% url 'challenges_create' %}">&lt;Create Challenge!&gt;</a></li>
          <li class="tab"><a href="{% url 'logout' %}">&lt;Log Out == {{ request.user }}&gt;</a></li>
        {% else %}
          <li class="tab"><a href="{% url 'signup' %}">&lt;Sign Up&gt;</a></li>
          <li class="tab"><a href="{% url 'login' %}">&lt;Log In&gt;</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer black">
    <div class="right">All Rights Reserved, &copy; 2022 [codebusters] &nbsp;</div>
  </footer>
</body>

</html>